<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./partials/head %>
</head>
<body>

  <header>
    <i class="fa fa-puzzle-piece fa-3x puzzle-logo"></i><span class="font-awesome-icon hamburger"> &#xf0c9;</span><h1>Unison</h1>
    <h5 class="username-display"></h5>
    <div class="menu-stuff">
      <p class="home-link logged-in header-link">Home</p>
      <p class="profile-link logged-in header-link">Profile</p>
      <p class="post-link logged-in header-link">Add Game Post</p>
      <p class="users-link logged-in header-link">Users</p>
    </div>
    <button id="log-out" class="btn-info logged-in">Log Out!</button>
  </header>

  <!-- GOOGLE MAP -->
  <div id="map-container" class="logged-in nav-toggle"><div id="map" class="logged-in"></div></div>

  <div class="container">
    <div id="log-in" class="logged-out">
      <h2>Welcome to Unison!</h2>
      <form id='log-in-form' action="/users/authenticate" method="post">
        <label for="username">Username:</label>
        <input type="text" name="username" placeholder="username" required>
        <label for="password">Password:</label>
        <input type="password" name="password" placeholder="password" required>
        <input type="submit" class="btn btn-primary" value="Log In">
      </form>
      <a href="#" class="drop-account">Don't Have an Account? Click Here to Sign Up!</a>
    </div>

    <div id="create-account" class="log-toggle">
      <form id="create-user-form" action="/users" method="post" class="sign-up">
        <label for="username">Username:</label>
        <input type="text" name="user[username]" placeholder="username" class="form-control" required>
        <label for="password">Password:</label>
        <input type="password" name="user[password]" placeholder="password" class="form-control" required>
        <label for="birthdate">Birthdate:</label>
        <input type="date" name="user[birthdate]" placeholder="birthdate" class="form-control" required>
        <label for="favoriteGames">Favorite Games:</label>
        <input type="text" name="user[favoriteGames]" placeholder="favorite games" class="form-control">
        <label for="email">E-Mail:</label>
        <input type="email" name="user[email]" placeholder="email" class="form-control" required>
        <input type="submit" class="btn btn-primary" value="Create User">
      </form>
      <a href="#" class="go-to-log">Nevermind, I have one!</a>
    </div>

    <div class="add-post log-toggle panel panel-default">
      <div class="panel-heading">
        <h3>Add a Game Post</h3>
      </div>
      <div class="panel-body">
        <form action="/postings/new" id="new-post">
          <input type="text" name="game" placeholder="Game" required>
          <input type="text" name="locationName" placeholder="Place Name" required>
          <input type="text" name="location" placeholder="Location" required>
          <input type="text" name="players" placeholder="Players Needed" required>
          <input type="submit" value="Add Post">
        </form>
      </div>
    </div>

    <!-- PROFILE -->
    <div class="update-profile-container panel panel-default"></div>

    <!-- WHERE POSTS GO -->
    <div class="post-games logged-in"></div>

    <!-- GAME INFO MODAL -->
    <div class="game-info"></div>

    <!-- USERS LIST -->
    <div id="all-users" class="logged-in log-toggle panel panel-default"></div>

  </div>
</body>
</html>
