/* COLORS
  #01BAEF - Light Blue
  #0CBABA - Seafoamish
  #380036 - Purple
  #26081C - Somehow even darker purple
  #150811 - Black
*/

/*233 136 30*/

body {
  background-color: rgba(233,136,30,0.7);
  font-family: 'PT Sans', sans-serif;
}

.font-awesome-icon {
  font-family: FontAwesome;
  font-size: 1.2em;
}

a:visited {
  text-decoration: none;
}

a:focus {
  text-decoration: none;
}

/************** MAP **************/
#map-container {
  position: fixed;
  top: 20%;
  right: 2%;
}

#map {
  height: 500px;
  width: 500px;
  background-color: black;
  border: 1px solid goldenrod;
}

/************** END MAP **************/

/************** HEADER **************/
header {
  position: fixed;
  height: 80px;
  top: 0;
  background-color: saddlebrown;
  width: 100%;
  color: bisque;
  z-index: 10;
}

header i, h1 {
  display: inline-block;
  margin-left: 2%;
}

header a {
  text-decoration: none;
  color: #0CBABA;
}

header h1 {
  font-family: 'Unica One', cursive;
  font-size: 3em;
}

header button {
  position: fixed;
  top: 29px;
  right: 2%;
  border-radius: 10px;
}

header h5{
  display: inline-block;
}

.post-link {
  position: fixed;
  top: 35px;
  right: 230px;
}

.users-link {
  position: fixed;
  top: 35px;
  right: 120px;
}
.profile-link {
  position: fixed;
  top: 35px;
  right: 170px;
}

.home-link{
  position: fixed;
  top: 35px;
  right: 340px;
}

.header-link:hover {
  cursor: pointer;
  text-shadow: 3px 1px 3px rgba(150, 150, 150, 1);
}

/************** END MAP **************/
.container {
  margin: 100px auto;
  width: 95%;
}

.add-post {
  position: fixed;
  top: 85px;
  right: 2%;
  border: 1px solid black;
  z-index: 3;
}

.update-profile-container {
  display: none;
}

/************** GAME POSTS **************/

.post-games {
  max-width: 50%;
}

.go-right {
  text-align: right;
  text-decoration: none;
}

.go-right span{
  padding: 1%;
}

.go-right a:hover {
  text-decoration: none;
  color:red;
}

.panel {
  -webkit-box-shadow: 3px 2px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 2px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 3px 2px 5px 0px rgba(0,0,0,0.75);
}

div.panel-heading * {
  display: inline-block;
}

div.update-post {
  display: none;
}

.map-location {
  display: inline-block;
}

a.update-posting{
  padding: 2%;
}

/************** END GAME POSTS **************/

/************** GAME INFO MODAL **************/

.game-info {
  background-color: rgba(0,0,0,0.4);
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 300;
}

.modal-container {
  width: 70%;
  margin: 3% auto;
  height: 700px;
  overflow: auto;
  z-index: 300;
}

.modal-container h3{
  display: inline-block;
}

.modal-container span {
  margin-left: 10px;
}

.close-modal {
  text-align: right;
}

.close-modal:hover {
  cursor: pointer;
}

.game-details {
  display: none;
}

.minimize {
  display: none;
}

/************** END GAME INFO MODAL **************/

.update-post-form input {
  display: block;
  margin: 1%;
}

.error-message {
  color: red;
}

@media screen and (max-width: 1100px) {
  #map-container {
    display: block;
    position: static;
    width: 85%;
    margin: 2%;
    margin-top: 120px;
  }

  .post-games {
    max-width: 100%;
    width: 100%
  }

  .handle-post {
    width: 80%;
  }
}

@media screen and (max-width: 625px) {

  #map {
    max-width: 100%;
  }


}

/**/
